@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body{
    width: 100%;
    height: 100vh;
    text-align: center;
}

#weather_info{
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg{
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 0;
}

.bg>img{
    width: 100%;
    height: 100vh;
}
.weather-wrap{
    max-width: 500px;
    margin: 0 auto;
}
.wrap1{
    position: absolute;
    top: 5%;
}
.wrap{
    position: absolute;
    bottom: 5%;
}
/* =================================
section 01 ====================== */
.section01{
    display: flex;
    justify-content: center;
}
.name{
    font-size: 2.5rem;
    font-weight: 800;
    color: #333;
}
.city{
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
}

/* =================================
section 02 ====================== */

.section02{
    display: flex;
    justify-content: center;
}

.icon{
    position: absolute;
    top: 24%;
    z-index: 999;
    animation: icon 5s ease-in-out infinite;
}
.icon>img{
    width: 400px;
}
.icon::before{
    animation: icon_shadow 5s ease-in-out infinite;
	background: #333;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	position: absolute;
	left: 35%; 
	bottom: -60px;
    transform: scale(1);
}
@keyframes icon{
	50%{
        transform: translateY(-20px);
    }
}

@keyframes icon_shadow{
	50%{
        transform: translateY(20px)scale(.7); opacity:.05;
    }
}


/* =================================
section 03 ====================== */

.section03{
    display: flex;
    justify-content: center;
}
.section03-mobile{
    display: none !important;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.section03 p{
    margin: 0 auto;
}
.wrap .info-wrap{
    margin-bottom: 30px;
    color: #333;
}
.wrap .w_id{
    font-size: 1.3em;
    font-weight: 500;
}
.wrap .temp{
    font-size: 5rem;
    font-weight: 500;
}
.wrap .temp-wrap{
    margin-left: 5%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap .temp-card{
    text-align: left;
    width: 23%;
    padding: 15px 10px 15px 10px;
    background-color: #fff;
    margin-right: 2%;
    box-shadow: 0 14px 26px -12px rgb(174 174 173 / 38%), 0 4px 18px 0px rgb(0 0 0 / 10%), 0 8px 8px -5px rgb(174 174 173 / 15%);
    border-radius: 3px 3px ;
}
.wrap .temp-detail{
    color: #999 !important;
    font-weight: 300;
    font-size: 15px;
}
.wrap .temp_max, .wrap .temp_min, .wrap .humidity,.wrap .wind-spd{
    color: #333;
    font-size: 1rem;
    font-weight: 600 !important;
}
/* ----------------------------------------------------------------------- */
@media(max-width:751px){
    .section03{
        display: none !important;
    }
    .section03-mobile{
        display: block !important;
    }
    .name {
        font-size: 1.5rem;
        font-weight: 800;
        color: #333;
    }
    .city {
        font-size: 1.1rem;
        font-weight: 500;
        color: #333;
    }
    .icon>img{
        width: 260px;
    }
    .icon::before {
        animation: icon_shadow 5s ease-in-out infinite;
        background: #333;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 30%;
        bottom: -57px;
        transform: scale(1);
    }
    .section03-mobile{
        display: flex !important;
        justify-content: center !important;
    }
    .wrap-mobile{
       position: absolute; 
       bottom: 0;
    }
    .section03 p{
        margin: 0 auto;
    }
    .wrap-mobile .info-wrap{
        margin-bottom: 30px;
        color: #333;
    }
    .wrap-mobile .w_id {
        font-size: 1.3rem;
        font-weight: 500;
    }
    .wrap-mobile  .temp{
        font-size: 4rem;
        font-weight: 500;
    }
    .wrap-mobile .temp-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
    }
    .wrap-mobile .temp-card {
        text-align: center;
        width: 30%;
        padding: 15px 10px 15px 10px;
    }
    .wrap-mobile  .temp-detail{
        color: #999 !important;
        font-weight: 300;
        font-size: 15px;
    }
    .wrap-mobile  .temp_max, .wrap-mobile  .temp_min, .wrap-mobile  .humidity,.wrap-mobile  .wind-spd{
        color: #333;
        font-size: 1rem;
        font-weight: 600 !important;
    }
}
/* 540 end */
/* =============================================== */
@media(max-width:399px){
    .wrap-mobile .info-wrap {
        margin-bottom: 0px;
        color: #333;
    }
    .wrap-mobile .temp-wrap {
        width: 360px;
    }
    .icon>img {
        width: 220px;
    }
    .icon::before {
        animation: icon_shadow 5s ease-in-out infinite;
        background: #333;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 25%;
        bottom: -50px;
        transform: scale(1);
    }
}
/* 399 end */
@media(max-width:321px){
    .wrap-mobile .temp-wrap {
        width: 320px;
    }
    .wrap-mobile .info-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon {
        top: 28%;
    }
    .icon::before {
        left: 25%;
        bottom: -28px;
    }
    .icon>img {
        width: 200px;
    }
}
@media(max-width:281px){
    .wrap-mobile .temp-wrap {
        width: 280px;
    }
}